/.lintr
/bedToAOE.R
/check_counts_for_mm39.R
/check_gaps_human_x_mice.sh
/check_signal.sh
/CNE_analysis
/compareCounts.R
/compareCoverage.R
/compare_density.sh
/compare_niebs.R
/convertToRDS.R
/convert_aoe_to_bed.R
/convert_count_to_signal.R
/count_muts_by_niebs.R
/cut_ints_in_pieces.py
/density_per_region.R
/envs
/extract_change_area.R
/getFullChainSize.py
/get_conservation_status.R
/get_gc_along_chain.py
/get_relative_pos.py
/get_size_of_matched_chains.py
/Heatmap
/heatmap_coverage.R
/ids_valid.txt
/id_from_paper.txt
/manual_plot_block.R
/manual_plot_gc.R
/manual_plot_nocumul.R
/manual_plot_signal.R
/PhylogeNIEB
/plotIntsSize.R
/plot_conservation_status.R
/plot_counts.png
/plot_density.R
/plot_no_hits.R
/plot_signal.R
/pone.0000216.s010.xls
/select_chains.sh
/select_chains_by_id.py
/select_ids.R
/select_interesting_chains.R
/select_niebs.R
/select_niebs_no_hits.sh
/select_very_mutated_niebs.sh
/test_stats_chains.R